[user]
    name = Kyle Braham
    email = polymorphic92@gmail.com
[alias]
    co  = checkout     # Checkout existing branch
    cob = checkout -b  # Checkout new branch
    br  = branch       # View branches
    brn = branch -m    # Move/rename a branch
    brd = branch -d    # Delete branch
    brD = branch -D    # Force delete branch
    brr = branch -r    # View remote branch
    bra = branch -a    # View all branches
    st = status        # Staus 
    ru = remote update # Remote Update 
    fa = fetch --all   # Fetch all

    # Logging
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --color --graph --date-order --pretty=format:'%C(magenta)%h %C(reset)-%C(red)%d %C(reset)%s %C(bold blue)<%an> %C(reset)%C(green)%ar%C(cyan)(%ad)' --date=local
    
    # Git Funcs
    swb    = "!f() { git remote update && git checkout "$1" && git status; }; f"

[fetch]
    recurseSubmodules = true

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work